<div class="container">
  <div *ngIf="islogin; then loginn else logoutt"></div>

  <ng-template #loginn>
    <div class="loginpage">
      <h1>Login</h1>
      <div>
        <label>Select your Role</label>
        <select [(ngModel)]="selectedRole" (change)="onRoleChange($event)">
          <option>Admin</option>
          <option>Employee</option>
          <option>User</option>
        </select>
      </div>
      <div>
        <label for="username">User/Email</label>
        <input type="text" [(ngModel)]="userName" id="username" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="password" id="password"/>
      </div>
      <div>
        <button (click)="login()">Login</button>
      </div>
    </div>
  </ng-template>

  <ng-template #logoutt>
    <div #logoutt class="logoutpage">
      <h1>Welcome to {{ selectedRole }}</h1>
      <h3>UserName : {{userName}}</h3>
      <h3>PassWord : {{password}}</h3>
      <div>
        <button (click)="logout()">Logout</button>
      </div>
    </div>
   
  </ng-template>
</div>
